In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
gdp_df = pd.read_csv("/Users/bentonwang/My_Documents/NSS_Projects/un-exploration-MultidisciplinaryDeepDives/data/gdp_per_capita.csv")

In [3]:
gdp_df = gdp_df.rename(columns = {"Country or Area": "Country", "Value": "GDP_Per_Capita"})
gdp_df = gdp_df.drop(columns='Value Footnotes')

7176 rows, 3 columns

In [5]:
gdp_df

          Country  Year  GDP_Per_Capita
0     Afghanistan  2020     1970.560169
1     Afghanistan  2019     2065.036235
2     Afghanistan  2018     2033.804389
3     Afghanistan  2017     2058.400221
4     Afghanistan  2016     2057.067978
...           ...   ...             ...
7171     Zimbabwe  1994     2603.927369
7172     Zimbabwe  1993     2420.092791
7173     Zimbabwe  1992     2437.152908
7174     Zimbabwe  1991     2733.696626
7175     Zimbabwe  1990     2652.129209

[7176 rows x 3 columns]

In [6]:
gdp_df.dtypes

Country            object
Year                int64
GDP_Per_Capita    float64
dtype: object